# 4.10 Task Part 1.2 - Coding Etiquette and Excel Reporting

### Script contents:

#### 1. Import libraries and data
#### 2. Modify customer profile, age group columns
#### 3. Create customer profiling based upon gender, age group, and customer dependents

## Import libraries and data

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
# Creating a string of the path to main project folder

path = '/Users/jarrettpugh/Library/CloudStorage/OneDrive-Personal/Data Analytics/Career Foundry - DA Bootcamp/A4 Python Fundamentals for Data Analysts/Instacart Basket Analysis'

In [70]:
# Import active_customers_orders_products pickle file as dataframe cust_ords_prods

cust_ords_prods = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'active_customers_orders_products.pkl'))

In [ ]:
cust_ords_prods.head()

In [9]:
cust_ords_prods.columns

Index(['order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_prior_order', 'first_order',
       'product_id', 'add_to_cart_order', 'reordered', 'product_name',
       'aisle_id', 'department_id', 'department', 'prices', 'price_range_loc',
       'busiest_days', 'busiest_period_of_day', 'max_order', 'loyalty_flag',
       'avg_item_price', 'spending_flag', 'median_days_since_prior_order',
       'frequency_flag', 'customer_gender', 'customer_state',
       'customer_region', 'customer_age', 'date_joined',
       'customer_number_of_dependents', 'customer_family_status',
       'customer_income', 'customer_activity', 'age_group', 'income_group',
       'customer_dependents', 'customer_diet'],
      dtype='object')

In [14]:
cust_ords_prods.shape

(30964564, 37)

#### Modify customer profile, age group columns

In [ ]:
cust_ords_prods['customer_dependents'].value_counts(dropna=False)

In [ ]:
cust_ords_prods['income_group'].value_counts(dropna=False)

In [ ]:
cust_ords_prods['age_group'].value_counts(dropna=False)

In [ ]:
cust_ords_prods['customer_diet'].value_counts(dropna=False)

In [16]:
# Create a new column 'customer_profile' and initialize it as 'none'
cust_ords_prods['customer_profile'] = 'none'

In [ ]:
cust_ords_prods['age_group'].value_counts(dropna=False)

In [ ]:
# Change age_group column to young, middle-aged, and old

In [36]:
# Replace '18-33' with 'young'
cust_ords_prods['age_group'] = cust_ords_prods['age_group'].replace('18-33', 'young')

In [37]:
# Replace '18-33', '34-49', '50-65', and '66-81' with 'young', 'middle aged', 'middle aged', and 'old'
cust_ords_prods['age_group'] = cust_ords_prods['age_group'].replace(['34-49', '50-65', '66-81'], ['middle-aged', 'middle-aged', 'old'])

In [40]:
#Recheck value counts

cust_ords_prods['age_group'].value_counts(dropna=False)

age_group
middle-aged    15476265
young           7757465
old             7730834
Name: count, dtype: int64

In [42]:
# Create subset of cust_ords_prods with selected columns

df = cust_ords_prods[['user_id', 'customer_gender', 'age_group', 'income_group', 'customer_dependents']]

In [43]:
df.shape

(30964564, 5)

In [44]:
# Create subset of df with unique values for user_id column

df_unique = df.drop_duplicates(subset=['user_id'])

In [45]:
df_unique.shape

(162631, 5)

In [46]:
df_unique.columns

Index(['user_id', 'customer_gender', 'age_group', 'income_group',
       'customer_dependents'],
      dtype='object')

In [47]:
# Create a new column 'customer_profile' and initialize it as 'none'

df_unique['customer_profile'] = 'none'

/var/folders/rh/wj0j2y0n7j1_m28h5wbms8q00000gn/T/ipykernel_29715/3452904455.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_unique['customer_profile'] = 'none'

In [48]:
#Reassign df_unique as df for speed

df = df_unique

In [49]:
df.shape

(162631, 6)

In [50]:
df.head()

,user_id,customer_gender,age_group,income_group,customer_dependents,customer_profile
0,1,Female,young,low,1 or more dependents,none
59,15,Female,old,low,no dependents,none
131,19,Female,middle-aged,high,1 or more dependents,none
335,21,Male,old,moderate,no dependents,none
540,31,Female,middle-aged,low,1 or more dependents,none

In [54]:
df['customer_profile'].value_counts(dropna=False)

customer_profile
none    162631
Name: count, dtype: int64

#### Create customer profiling based upon gender, age group, and customer dependents

In [ ]:
# Create customer profiling based upon gender, age group, and customer dependents

In [56]:
# Combine gender, age group, and customer dependents in customer profile value

df.loc[(df['customer_gender'] =='Male') & (df['age_group'] =='young') & (df['customer_dependents'] == 'no dependents'),
       'customer_profile'] = 'young male with no dependents'
df.loc[(df['customer_gender'] =='Female') & (df['age_group'] =='young') & (df['customer_dependents'] == 'no dependents'),
       'customer_profile'] = 'young female with no dependents'
df.loc[(df['customer_gender'] =='Male') & (df['age_group'] =='young') & (df['customer_dependents'] == '1 or more dependents'),
       'customer_profile'] = 'young male with 1 or more dependents'
df.loc[(df['customer_gender'] =='Female') & (df['age_group'] =='young') & (df['customer_dependents'] == '1 or more dependents'),
       'customer_profile'] = 'young female with 1 or more dependents'


df.loc[(df['customer_gender'] =='Male') & (df['age_group'] =='middle-aged') & (df['customer_dependents'] == 'no dependents'),
       'customer_profile'] = 'middle-aged male with no dependents'
df.loc[(df['customer_gender'] =='Female') & (df['age_group'] =='middle-aged') & (df['customer_dependents'] == 'no dependents'),
       'customer_profile'] = 'middle-aged female with no dependents'
df.loc[(df['customer_gender'] =='Male') & (df['age_group'] =='middle-aged') & (df['customer_dependents'] == '1 or more dependents'),
       'customer_profile'] = 'middle-aged male with 1 or more dependents'
df.loc[(df['customer_gender'] =='Female') & (df['age_group'] =='middle-aged') & (df['customer_dependents'] == '1 or more dependents'),
       'customer_profile'] = 'middle-aged female with 1 or more dependents'


df.loc[(df['customer_gender'] =='Male') & (df['age_group'] =='old') & (df['customer_dependents'] == 'no dependents'),
       'customer_profile'] = 'old male with no dependents'
df.loc[(df['customer_gender'] =='Female') & (df['age_group'] =='old') & (df['customer_dependents'] == 'no dependents'),
       'customer_profile'] = 'old female with no dependents'
df.loc[(df['customer_gender'] =='Male') & (df['age_group'] =='old') & (df['customer_dependents'] == '1 or more dependents'),
       'customer_profile'] = 'old male with 1 or more dependents'
df.loc[(df['customer_gender'] =='Female') & (df['age_group'] =='old') & (df['customer_dependents'] == '1 or more dependents'),
       'customer_profile'] = 'old female with 1 or more dependents'

In [73]:
#Recheck value counts for customer profile column

df['customer_profile'].value_counts(dropna=False)

customer_profile
middle-aged male with 1 or more dependents      30617
middle-aged female with 1 or more dependents    30212
old male with 1 or more dependents              15526
young male with 1 or more dependents            15329
old female with 1 or more dependents            15178
young female with 1 or more dependents          15042
middle-aged male with no dependents             10247
middle-aged female with no dependents           10145
young male with no dependents                    5228
old male with no dependents                      5051
young female with no dependents                  5042
old female with no dependents                    5014
Name: count, dtype: int64

In [75]:
df[['user_id', 'customer_profile']].head()

     user_id                              customer_profile
0          1        young female with 1 or more dependents
59        15                 old female with no dependents
131       19  middle-aged female with 1 or more dependents
335       21                   old male with no dependents
540       31  middle-aged female with 1 or more dependents

In [ ]:
# Merge df back into cust_ords_prods

In [76]:
#Trim columns that already exist in main df 

df_merge = df[['user_id', 'customer_profile']]

In [ ]:
# Re-import pickle file and assign to cust_ords_prods

cust_ords_prods.head()

In [72]:
cust_ords_prods.shape

(30964564, 37)

In [77]:
# Merge df_merge back into cust_ords_prods on user_id

merged_df = cust_ords_prods.merge(df_merge, on = 'user_id')

In [78]:
#Check shape

merged_df.shape

(30964564, 38)

In [80]:
# Reassign merged_df as df_cop (customers, orders, products)

df_cop = merged_df

In [ ]:
df_cop['customer_profile'].value_counts(dropna=False)

In [103]:
df_cop.shape

(30964564, 38)

## Export data

In [104]:
# Export df_cop to pickle file

df_cop.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'active_customers_orders_products.pkl'))