# 4.9 Task Part 1 - Intro to Data Visualizations with Python

### Script contents:

#### Importing libraries and data
#### Data Wrangling
#### Combining customer data with main dataset
#### Export data

## Import libraries and data

#### 3. Import your analysis libraries, as well as your new customer data set as a dataframe.

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
# Creating a string of the path to main project folder

path = '/Users/jarrettpugh/Library/CloudStorage/OneDrive-Personal/Data Analytics/Career Foundry - DA Bootcamp/A4 Python Fundamentals for Data Analysts/Instacart Basket Analysis'

In [3]:
# Import customers.csv as dataframe 'df_customer'

df_customer = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'customers.csv'))

In [51]:
# Import orders_products_merged.pkl as dataframe 'ords_prods_merged'

ords_prods_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))

## Data Wrangling

#### 4. Wrangle the data so that it follows consistent logic; for example, rename columns with illogical names and drop columns that donâ€™t add anything to your analysis.

In [12]:
df_customer.head()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [50]:
df_customer.shape

(206209, 10)

#### Renaming columns

In [11]:
df_customer.columns

Index(['user_id', 'First Name', 'Surnam', 'Gender', 'STATE', 'Age',
       'date_joined', 'n_dependants', 'fam_status', 'income'],
      dtype='object')

In [13]:
# Rename 'First Name' column to 'first_name'

df_customer.rename(columns = {'First Name' : 'first_name'}, inplace = True)

In [15]:
# Rename 'Surnam' column to 'last_name'

df_customer.rename(columns = {'Surnam' : 'last_name'}, inplace = True)

In [17]:
# Rename 'Gender' column to 'gender'

df_customer.rename(columns = {'Gender' : 'gender'}, inplace = True)

In [59]:
# Rename 'gender' column to 'customer_gender'

df_customer.rename(columns = {'gender' : 'customer_gender'}, inplace = True)

In [19]:
# Rename 'STATE' column to 'state'

df_customer.rename(columns = {'STATE' : 'state'}, inplace = True)

In [61]:
# Rename 'state' column to 'customer_state'

df_customer.rename(columns = {'state' : 'customer_state'}, inplace = True)

In [63]:
# Rename 'Age' column to 'age'

df_customer.rename(columns = {'Age' : 'age'}, inplace = True)

In [ ]:
# Rename 'age' column to 'customer_age'

df_customer.rename(columns = {'age' : 'customer_age'}, inplace = True)

In [23]:
# Rename 'n_dependants' column to 'number_of_dependents'

df_customer.rename(columns = {'n_dependants' : 'number_of_dependents'}, inplace = True)

In [65]:
# Rename 'number_of_dependents' column to 'customer_number_of_dependents'

df_customer.rename(columns = {'number_of_dependents' : 'customer_number_of_dependents'}, inplace = True)

In [67]:
# Rename 'family_status' column to 'customer_family_status'

df_customer.rename(columns = {'family_status' : 'customer_family_status'}, inplace = True)

In [69]:
# Rename 'income' column to 'customer_income'

df_customer.rename(columns = {'income' : 'customer_income'}, inplace = True)

In [70]:
df_customer.head()

,user_id,first_name,last_name,customer_gender,customer_state,customer_age,date_joined,customer_number_of_dependents,customer_family_status,customer_income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

#### 5. Complete the fundamental data quality and consistency checks youâ€™ve learned throughout this Achievement; for example, check for and address missing values and duplicates, and convert any mixed-type data.

#### Finding and addressing mixed data types

In [28]:
# Checking for columns with mixed datatypes

for col in df_customer.columns.tolist():
  weird = (df_customer[[col]].applymap(type) != df_customer[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_customer[weird]) > 0:
    print (col)

/var/folders/rh/wj0j2y0n7j1_m28h5wbms8q00000gn/T/ipykernel_89247/3784633215.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_customer[[col]].applymap(type) != df_customer[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/rh/wj0j2y0n7j1_m28h5wbms8q00000gn/T/ipykernel_89247/3784633215.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_customer[[col]].applymap(type) != df_customer[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/rh/wj0j2y0n7j1_m28h5wbms8q00000gn/T/ipykernel_89247/3784633215.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_customer[[col]].applymap(type) != df_customer[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/rh/wj0j2y0n7j1_m28h5wbms8q00000gn/T/ipykernel_89247/3784633215.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_customer[[col]].applymap(type) != df_customer[[col]].iloc[0].apply(type)).any(axis = 1)

first_name

/var/folders/rh/wj0j2y0n7j1_m28h5wbms8q00000gn/T/ipykernel_89247/3784633215.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_customer[[col]].applymap(type) != df_customer[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/rh/wj0j2y0n7j1_m28h5wbms8q00000gn/T/ipykernel_89247/3784633215.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_customer[[col]].applymap(type) != df_customer[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/rh/wj0j2y0n7j1_m28h5wbms8q00000gn/T/ipykernel_89247/3784633215.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_customer[[col]].applymap(type) != df_customer[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/rh/wj0j2y0n7j1_m28h5wbms8q00000gn/T/ipykernel_89247/3784633215.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_customer[[col]].applymap(type) != df_customer[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/rh/wj0j2y0n7j1_m28h5wbms8q00000gn/T/ipykernel_89247/3784633215.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_customer[[col]].applymap(type) != df_customer[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/rh/wj0j2y0n7j1_m28h5wbms8q00000gn/T/ipykernel_89247/3784633215.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_customer[[col]].applymap(type) != df_customer[[col]].iloc[0].apply(type)).any(axis = 1)

In [30]:
# Changing 'first_name' column to string datatype

df_customer['first_name'] = df_customer['first_name'].astype('str')

#### Finding and addressing mixed values

In [32]:
# Checking for missing values

df_customer.isnull().sum()

user_id                 0
first_name              0
last_name               0
gender                  0
state                   0
age                     0
date_joined             0
number_of_dependents    0
family_status           0
income                  0
dtype: int64

There are no missing values.

#### Finding and addressing duplicate records

In [48]:
# Checking for duplicate records

customer_dups = df_customer[df_customer.duplicated()]
customer_dups

Empty DataFrame
Columns: [user_id, first_name, last_name, gender, state, age, date_joined, number_of_dependents, family_status, income]
Index: []

There are no duplicate records.

#### 6. Combine your customer data with the rest of your prepared Instacart data. (Hint: Make sure the key columns are the same data type!)

In [56]:
ords_prods_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32404859 entries, 0 to 32404858
Data columns (total 23 columns):
 #   Column                         Dtype
---  ------                         -----
 0   order_id                       int64
 1   user_id                        int64
 2   order_number                   int64
 3   orders_day_of_week             int64
 4   order_hour_of_day              int64
 5   days_since_prior_order         float64
 6   first_order                    bool
 7   product_id                     int64
 8   add_to_cart_order              int64
 9   reordered                      int64
 10  product_name                   object
 11  aisle_id                       int64
 12  department_id                  int64
 13  prices                         float64
 14  price_range_loc                object
 15  busiest_days                   object
 16  busiest_period_of_day          object
 17  max_order                      int64
 18  loyalty_flag                   object
 19  avg_item_price                 float64
 20  spending_flag                  object
 21  median_days_since_prior_order  float64
 22  frequency_flag                 object
dtypes: bool(1), float64(4), int64(11), object(7)
memory usage: 5.3+ GB

In [71]:
df_customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206209 entries, 0 to 206208
Data columns (total 10 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   user_id                        206209 non-null  int64
 1   first_name                     206209 non-null  object
 2   last_name                      206209 non-null  object
 3   customer_gender                206209 non-null  object
 4   customer_state                 206209 non-null  object
 5   customer_age                   206209 non-null  int64
 6   date_joined                    206209 non-null  object
 7   customer_number_of_dependents  206209 non-null  int64
 8   customer_family_status         206209 non-null  object
 9   customer_income                206209 non-null  int64
dtypes: int64(4), object(6)
memory usage: 15.7+ MB

In [72]:
# Merge ords_prods_merged and df_customer to make cust_ords_prods

cust_ords_prods = ords_prods_merged.merge(df_customer, on = 'user_id', indicator = True)
cust_ords_prods.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,...,first_name,last_name,customer_gender,customer_state,customer_age,date_joined,customer_number_of_dependents,customer_family_status,customer_income,_merge
0,2539329,1,1,2,8,NaN,True,196,1,0,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
1,2398795,1,2,3,7,15.0,False,196,1,1,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
2,473747,1,3,3,12,21.0,False,196,1,1,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
3,2254736,1,4,4,7,29.0,False,196,1,1,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
4,431534,1,5,4,15,28.0,False,196,1,1,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both

In [73]:
# Confirm the results of the merge using the merge flag.

cust_ords_prods['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [ ]:
#Drop '_merge' column

cust_ords_prods.drop('_merge', axis=1, inplace=True)

#### 7. Ensure your notebook contains logical titles, section headings, and descriptive code comments.

I have completed this step.

## Export data

#### 8. Export this new dataframe as a pickle file so you can continue to use it in the second part of this task.

In [74]:
# Export dataframe 'cust_ords_prods' to pickle file 'customers_orders_products'

cust_ords_prods.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'customers_orders_products.pkl'))